#container-narrow {
	margin: 20% auto;
	max-width: 700px;
	text-align: center;

	#upload_button {
		margin: 15px 0;
	}
}

#file_text {
  height: 40px;
  text-align: center;
  font-size: 16px;
}

#file_input {
  display: block;
  height: 0;
  width: 0;
  visibility: hidden;
}

.jumbotron {
	margin: 20% 0;
	text-align: center;
	h1 {
		line-height: 1;
	}
	button {
		font-size: 21px;
		padding: 14px 24px;
	}
}