<%= form_for @upload, :url => '/fast_uploads' do |f| %>
      <%= f.file_field :file, :class => 'file_field' %>
     <div>
    <%= f.submit "Upload!", :id => 'upload_button', :class => 'btn btn-primary btn-large' %>
    </div>
<% end %>
