<%= form_for @upload, :url => '/fast_uploads' do |f| %>
      <input class="input-xlarge" id="file_text" type="text" placeholder="Click or Drag&amp;Drop">
      <%= f.file_field :file, :id => 'file_input' %>
     <div>
    <%= f.submit "Upload!", :id => 'upload_button', :class => 'btn btn-primary btn-large' %>
    </div>
<% end %>
