<%- model_class = Upload -%>

<div class="container-narrow"
	<div class="row">
		<div class="span6">
			<%= render :partial => 'form' %>
			 <div id="upload_progress" class="progress progress-striped active hidden">
			 	<div id="progressbar" class="bar"> </div>
		</div>
	</div>
</div>

