
<div class="jumbotron">
	<h1> Your file was successfully uploaded! </h1>
	<p class="lead"> Email with this awesome event will be sent to my boss ;) </p>
	<%= link_to "Upload more!", new_upload_path, :class => "btn btn-large btn-success" %>
</div>